@use "../partials/globals";
@use "../partials/mixins" as *;
@use "../partials/variables" as *;

.add-form {
    &__input{
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
    }

}