@use "../partials/globals";
@use "../partials/mixins" as *;
@use "../partials/variables" as *;

.member-card {
    border: 1px solid #E6E6E6;
    box-shadow: -4px 8px 20px 0px rgba(0, 0, 0, 0.10);
    border-radius: 8px;
    padding: 0.75rem;
    display: flex;
    margin-bottom: 1rem;

    &__item {
        padding: 0.3rem;

        @include tablet {
            padding: 1rem;
        }
    }

    @include tablet {
        width: 33%;
        margin-bottom: 0;
        flex-direction: column;
    }

    &> * {
        width: 33%;
        overflow-wrap: anywhere;
        
        @include tablet {
            width: auto;
        }
    }
}