@use './variables' as *;
@use './mixins' as *;

html {
    height: 100%;
}
  
* {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      font-family: 'Avenir', sans-serif;
      background-color: $primary-color-white;
      color: $primary-color-black;
}



.divider {
    border-bottom: 1px solid $secondary-color-silver;
    margin-bottom: 1rem;
}

::placeholder {
    color: $primary-color-black;
}

// styles for fonts
.page-header {
  font-size: 1.5rem;

  @include tablet {
    font-size: 2.063rem;
  }
}

.section-header {
    font-size: 0.813rem;
    font-weight: 600;
    color: $primary-color-silver;
}