@use './variables' as *;
@use './mixins' as *;

html {
    height: 100%;
    margin: 2rem;
}
  
* {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      font-family: 'Avenir', sans-serif;
      background-color: $primary-color-white;
      color: $primary-color-black;
}

.header {
    text-align: center;
}

.divider {
    border-bottom: 1px solid $secondary-color-silver;
    margin-bottom: 1rem;
}

::placeholder {
    color: $primary-color-black;
}

// styles for fonts
.page-header {
  font-size: 1.5rem;

  @include tablet {
    font-size: 2.063rem;
  }
}

.section-header {
    font-size: 0.813rem;
    font-weight: 600;
    color: $primary-color-silver;
}

.modal {
    border: 1px solid #E6E6E6;
    box-shadow: -4px 8px 20px 0px rgba(0, 0, 0, 0.10);
    border-radius: 8px;
    margin: auto;
    padding: 2rem;
}