@use './variables' as *;
@use './mixins' as *;

html {
    height: 100%;
    margin: 2rem;
}
  
* {
      box-sizing: border-box;
      margin: 0;
      font-family: 'Avenir', sans-serif;
      background-color: $primary-color-white;
      color: $primary-color-black;
}

.header {
    text-align: center;
}

.divider {
    border-bottom: 1px solid $secondary-color-silver;
    margin-bottom: 1rem;
}

::placeholder {
    color: rgb(105, 103, 103);
}

.page-header {
  font-size: 1.5rem;

  @include tablet {
    font-size: 2.063rem;
  }
}

.section-header {
    font-size: 0.813rem;
    font-weight: 600;
    color: $primary-color-silver;
}

.modal {
    border: 1px solid #E6E6E6;
    box-shadow: -4px 8px 20px 0px rgba(0, 0, 0, 0.10);
    border-radius: 8px;
    margin: auto;
    padding: 2rem;

    &> * {
        padding: 1rem;
    }
}

input, textarea {
    border: 1px solid #E6E6E6;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 8px;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
    
    &:hover {
        color: #535bf2;
    }   
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: border-color 0.25s;
    
    &:hover {
        border-color: #646cff;
    }
    
    &:focus,  &:focus-visible {
        outline: 0.25rem auto -webkit-focus-ring-color;
    }
}

.button {
    &__primary {
        background-color: rgb(59, 58, 58);
        color: white;
    }

    &__secondary {
        background-color: white;
        color: rgb(59, 58, 58);
    }

    &__disabled {
        background-color: rgb(113, 112, 114);
    }
}
