$primary-color-black: #323232;
$primary-color-blue: #0095FF;
$primary-color-silver: #AFAFAF;
$primary-color-white: #FFFFFF;

$secondary-color-black: #000000;
$secondary-color-blue: #0065AD;
$secondary-color-silver: #E1E1E1;
$secondary-color-white: #FAFAFA;

$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

$desktop-element-width: 63.75rem;