$primary-color-black: #323232;
$primary-color-blue: #0095FF;
$primary-color-silver: #AFAFAF;
$primary-color-white: #FFFFFF;

$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

$desktop-element-width: 63.75rem;