@use "../partials/globals";
@use "../partials/mixins" as *;
@use "../partials/variables" as *;

.member-profile {
    padding: 2rem;

    &__content {
        margin-top: 2rem;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        > h1 {
            margin-right: 1.5rem;
        }

        @include tablet {
            flex-direction: row;
        }
    }
}