@use "../partials/globals";
@use "../partials/mixins" as *;
@use "../partials/variables" as *;

.member-profile {
    padding: 2rem;

    &__content {
        &> * {
            padding: 1rem;
        }
    }
}