@use "../partials/globals";
@use "../partials/mixins" as *;
@use "../partials/variables" as *;

.page-not-found {
    margin: 1rem;

    @include tablet {
        flex-direction: row;
        justify-content: center;
        margin: 2rem;
    }

    @include desktop {
        width: $desktop-element-width;
        padding: 0 2rem;
        margin-left: auto;
        margin-right: auto;
    }
}